In [20]:
# LibrerÃ­as
import requests
import pandas as pd

In [21]:
# Verificar la conexiÃ³n a internet.
def verificar_conexion():
    try:
        requests.get("http://www.google.com", timeout=5)
        print('âœ… Conectado a internet.')
        return True
    
    except requests.ConnectionError:
        print('ðŸ›‘ Sin conexiÃ³n a internet.')
        return False

In [22]:
# ConexiÃ³n con la API de COBS

Link_cops_API = 'https://cobs.si/api/comet_list.api'

if verificar_conexion():
    response = requests.get(Link_cops_API)


if response.status_code == 200:
    content = response.json()
    print('âœ… Base de datos actualizada.')

else:
    print(f'ðŸ›‘ Se presentÃ³ un error al cargar la base de datos.\nError: {response.status_code}\n{response.content}')

âœ… Conectado a internet.
âœ… Base de datos actualizada.

In [23]:
cometas_df = pd.DataFrame(content['objects'])
cometas_df

,id,type,name,fullname,mpc_name,icq_name,component,current_mag,perihelion_date,perihelion_mag,peak_mag,peak_mag_date,is_observed,is_active
0,1,N,P/2010 H2,P/2010 H2 (Vales),K10H020,P2010H2,None,14.0,2025-03-09 15:44,12.6,12.5,2025-04-09,True,True
1,2,C,C/2014 UN271,C/2014 UN271 (Bernardinelli-Bernstein),K14UR1N,2014UNR1,None,18.1,2031-01-17 03:51,16.0,15.8,2031-04-04,True,True
2,3,C,C/2020 PV6,C/2020 PV6 (PANSTARRS),K20P06V,2020PV6,None,24.9,2021-09-26 01:47,15.6,14.9,2021-08-05,True,True
3,4,A,A/2021 E4,A/2021 E4,K21E040,A2021E4,None,22.4,2022-04-24 21:51,20.1,19.8,2022-02-21,False,True
4,6,C,C/2021 G3,C/2021 G3 (PANSTARRS),K21G030,2021G3,None,24.9,2021-10-17 20:18,21.4,20.9,2022-01-31,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,2562,N,P/2024 R3,P/2024 R3 (PANSTARRS),K24R030,P2024R3,None,20.0,2024-05-17 00:25,21.1,19.9,2024-10-11,False,True
2229,2563,C,C/2024 R4,C/2024 R4 (PANSTARRS),K24R040,2024R4,None,20.9,2027-10-26 12:38,16.3,16.1,2028-02-29,False,True
2230,2564,P,484P,484P/Spacewatch,484P,0484,None,26.6,2028-03-10 22:56,19.9,19.7,2028-02-08,False,True
2231,2565,P,485P,485P/Sheppard-Tholen,485P,0485,None,23.2,2023-08-24 20:11,22.4,21.5,2024-01-11,False,True
2232,2566,P,486P,486P/Leonard,486P,0486,None,21.1,2025-04-03 20:26,20.5,19.5,2025-09-05,False,True

In [34]:
lista_cometas_df = cometas_df[['name', 'fullname']]
lista_cometas_df.name[lista_cometas_df.fullname.str.contains('Halley')].values[0]

'1P'

In [44]:
'1P' not in lista_cometas_df['name'].to_list()

False

In [50]:
from pathlib import Path

titulo = 'C/2023 A3'

Path('Graficas', f'{titulo}.png')

WindowsPath('Graficas/C/2023 A3.png')

In [40]:
import os 
ruta = os.path.join('Graficas', 'C/2023 A3.png')
ruta

'Graficas\\C/2023 A3.png'

In [46]:
ruta = os.path.join('Graficas', rf'{titulo}.png')
ruta, rf'{titulo}.png'

('Graficas\\C/2023 A3.png', 'C/2023 A3.png')

In [20]:
from datetime import date
print(date.today())

2025-01-05

In [25]:
from datetime import datetime

date_time_str = "2023-01-23"
date_time_object = datetime.strptime(date_time_str, "%Y-%m-%d").date()

(date.today() -date_time_object).days

713

In [1]:
from datetime import datetime, date

def verificar_fecha(fecha_inicial):
    fecha_inicial_dt = datetime.strptime(fecha_inicial, "%Y-%m-%d").date()
    dias = (date.today() - fecha_inicial_dt).days

    if dias >= 0:
        return True
    
    else:
        print(f'ðŸ›‘ La fecha ingresada: {fecha_inicial}, Sobrepasa la fecha actual.')
        return False
    

verificar_fecha('2026-01-01')

ðŸ›‘ La fecha ingresada: 2026-01-01, Sobrepasa la fecha actual.

False